<!DOCTYPE html>
<html>
<head>
<title><%=title %></title>
</head>

<body>
<center>
<h3>Bienvenido a  <%= title %></h3>
La pagina donde puede registrar reclamos...
  <h4><%= subtitle></h4>
<table>
   <tr>
       <td></td>
       <td>Tipo Reclamo</td>
       <td>Observacion</td>
       <td>Fecha</td>
    </tr> 
<% var i; for(i=0; i< reclamos.length; i++) { %>
   <tr>
       <td><%= i %></td>
       <td><%= reclamos[i].tipoReclamo %></td>
       <td><%= reclamos[i].observacion %></td>
       <td><%= reclamos[i].fecha %></td>
    </tr>   
<% } %>
</table>

</center>
</body>
</html>